<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Teste Vizir</title>
  </head>
  <body>
    <h1>Simulação de chamada:</h1>
    <br>
    <br>
    <form action="/resultado" method="get">
      <label>
        DDD de origem:
      </label>
      <select name="ddd_origem">
        {% for ddd in ddds %}
          <option value="{{ ddd|safe}}">
            {{ ddd|safe}}
          </option>
        {% endfor %}
      </select>
      <br>
      <br>
      <label>
        DDD de destino:
      </label>
      <select name="ddd_destino">
        {% for ddd in ddds %}
          <option value="{{ ddd|safe}}">
            {{ ddd|safe}}
          </option>
        {% endfor %}
      </select>
      <br>
      <br>
      <label>
        Quantos minutos deseja falar?:
      </label>
      <br>
      <br>
      <input type="number" name="minutos" value="1" min="1">
      <br>
      <br>
      <label>
        Selecione o plano:
      </label>
      <select name="plano">
        {% for plano in planos %}
          <option value="{{ plano[1]|safe}}">
            {{ plano[0]|safe}}
          </option>
        {% endfor %}
      </select>
      <br>
      <br>
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
