<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Teste Vizir</title>
  </head>
  <body>
    <h1>Simulação de chamada:</h1>
    <br>
    <br>
    <form>
      <label>
        DDD de origem:
      </label>
      <select>
        {% for ddd in ddds %}
          <option value="{{ ddd|safe}}">
            {{ ddd|safe}}
          </option>
        {% endfor %}
      </select>
      <br>
      <br>
      <label>
        DDD de destino:
      </label>
      <select>
        {% for ddd in ddds %}
          <option value="{{ ddd|safe}}">
            {{ ddd|safe}}
          </option>
        {% endfor %}
      </select>
      <br>
      <br>
      <label>
        Quantos minutos deseja falar?:
      </label>
      <br>
      <br>
      <input>
      <br>
      <br>
      <label>
        Selecione o plano:
      </label>
      <select>
        <option value="fm30">Fale Mais 30</option>
        <option value="fm60">Fale Mais 60</option>
        <option value="fm120">Fale Mais 120</option>
      </select>
      <br>
      <br><br><br><br><br><br><br><br>
      {% for ddd in ddds %}
        <div>
          {{ ddd|safe}}
        </div>
      {% endfor %}
    </form>
  </body>
</html>
